.Home-logo {
  height: 180px;
  margin-top: 35px;
}
  
.Home-header {
  display: flex;
  float: left;
  padding: 70px;
}

.Home-text{
  display: flex;
  position: absolute;
  top: 190px;
  right: 400px;
  padding: 180px;
  font-size: 60px;
  text-align: center;
}

.Get-started-button{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-decoration: none;
  color: white;
  display: flex;
  position: absolute;
  top: 460px;
  left: 320px;
  padding: 8px 55px;
  border-radius: 50px;
  border: none;
  background-color: #FD416E;
  margin-top: 200px;
}

.Girl-image {
  position: absolute;
  right: 70px;
  bottom: 0px;
  height: 580px;
}