.Signup-logo {
  height: 140px;
}
  
.Signup-header {
  display: flex;
  float: left;
  padding: 70px;
}

.Signup-Image {
  display: flex;
  position: absolute;  
  float: left;
  left: 100px;
  bottom: 0px;
  height: 350px;
}

.Black-Background {
  display: flex;
  position: absolute;
  float: right;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 50%;
  background-color: #262626;
}

.Signup-Form {
  display: flex;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: 65%;
  width: 60%;
  background-color: white;
  border-radius: 35px;
  justify-content: center;
}

.Signup-Text {
  position: absolute;
  display: flex;
  font-size: 35px;
  font-weight: bold;
}

.Form {
  margin-top: 120px;
  height: fit-content;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email {
  height: 12px;
  width: 200px;
  padding: 12px 20px;
}

#password {
  height: 12px;
  width: 200px;
  padding: 12px 20px;
  margin-top: 15px;
 }

.Continue-with-email {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  height: 35px;
  width: 244px;
  margin-top: 25px;
  background-color: #FD416E;
  border: none;
  border-radius: 55px;
}

.Signup-Google {
  font-size: 18px;
  font-weight: bold;
  margin-top: 35px;
}

.Continue-with-Google {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  height: 35px;
  width: 244px;
  margin-top: 25px;
  background-color: #FD416E;
  border: none;
  border-radius: 55px;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Google-Icon {
  height: 20px;
}
