.Signup-logo {
  height: 180px;
  margin-top: 35px;
}
  
.Signup-header {
  display: flex;
  float: left;
  padding: 70px;
}

.Signup-Image {
  display: flex;
  position: absolute;  
  float: left;
  left: 120px;
  bottom: 0px;
  height: 480px;
}

.Black-Background {
  display: flex;
  position: absolute;
  float: right;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 50%;
  background-color: #262626;
}

.Signup-Form {
  display: flex;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: 62%;
  width: 63%;
  background-color: white;
  border-radius: 35px;
  justify-content: center;
}

.Signup-Text {
  position: absolute;
  display: flex;
  font-size: 45px;
  font-weight: bold;
}

.Form {
  margin-top: 150px;
  height: fit-content;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::placeholder {
  font-size: 20px;
}

#email {
  height: 22px;
  width: 250px;
  padding: 12px 20px;
}

#password {
  height: 22px;
  width: 250px;
  padding: 12px 20px;
  margin-top: 15px;
 }

.Continue-with-email {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: white;
  height: 45px;
  width: 293px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: #FD416E;
  border: none;
  border-radius: 55px;
  cursor: pointer;
}

.Signup-Google {
  font-size: 24px;
  font-weight: bold;
  margin-top: 55px;
}

.Continue-with-Google {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: white;
  height: 45px;
  width: 293px;
  margin-top: 25px;
  background-color: #FD416E;
  border: none;
  border-radius: 55px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
